 /* .password-toggle-container {
    position: relative;
    display: inline-block;
  }
  
  .password-input {
    padding-right: 30px;  
  }
  
  .toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
  } */
  